/* Write your CSS here */
.bg-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  width: 400px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  text-align: center;
}

.heading {
  font-family: 'Roboto';
  color: #0b69ff;
  font-size: 30px;
  font-weight: bold;
}

.para {
  font-family: 'Roboto';
  color: #333333;
  font-size: 18px;
}

.button {
  font-family: 'Roboto';
  background-color: #0b69ff;
  font-size: 15px;
  border-radius: 10px;
  color: #eaebed;
  border-width: 0px;
  width: 150px;
  cursor: pointer;
  outline: none;
  height: 40px;
}

.random-number {
  font-family: 'Roboto';
  color: #0b69ff;
  font-size: 50px;
  font-weight: bold;
}
